Most of the dependencies are automatically downloaded and installed
via el-get (see dss-init-el-get.el) but there are several that must be
installed separately prior to running Emacs the first time after this
repository is unpacked in ~/.emacs.d/. 

Install the following using your operating systems package manager:

 - texlive (whatever package includes the full thing)
 - w3m (used by dss-browser-integration.el)
 - bzr, cvs, mercurial, git

Install the following via Python:
 
 - pymacs http://pymacs.progiciels-bpi.ca/ 
 - ropemacs & ropemode

The following dependencies are installed automatically from the
vendors/ directory instead of from el-get:

 - an older version of espresso.el http://www.nongnu.org/espresso/ 
   is used in conjunction with js2-mode to fix some indentation issues
 - whattf-dt is installed for use with nxml
 - flymake-cursor http://paste.lisp.org/display/60617,1/raw 
